<!DOCTYPE html>
<html lang="en" ng-app="secondApp">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-sanitize.min.js"></script>

	<script src="./app2.js"></script>
	<title>Document</title>
</head>
<body>
	<div ng-controller="MySecondController">
		<button ng-click="pickRandomNumber()">Pick Random Number</button>
		<h3>The number is: {{number}}</h3>
		<p>
			<h2>Word Reverser</h2>
			<input type="text" ng-model='reverse'>
			Output: <h3>{{output}}</h3>
			<button ng-click='reverseIt()'>Reverse!</button>
		</p>
	</div>

	<div ng-controller="pongController" style='height:300px; margin-right: 100px; margin-bottom: 100px;'>
		<div class='pong' ng-click='score1()' ng-class='{winner: p1IsWinner == 1, loser: p1IsWinner == 2}'>
			<h1 style='margin-left:35%' >Player 1</h1>
			<h2 style='margin-left:47%'>{{p1Score}}</h2>
			<h2 style='margin-left:40%'>{{p1Serve}}</h2>
		</div>
		<div class='pong' ng-click='score2()' ng-class='{winner: p1IsWinner == 2, loser: p1IsWinner == 1}'>
			<h1 style='margin-left:35%'>Player 2</h1>
			<h2 style='margin-left:47%'>{{p2Score}}</h2>
			<h2 style='margin-left:40%'>{{p2Serve}}</h2>
		</div>
		<button ng-click="reset()">Reset</button>
	</div>

	<div style="margin-left:50px;" ng-controller="contactController">
		<h1>Contacts App</h1>
		<form style="margin-bottom:25px;" action="javascript:void(0)">
			<label for="Name">Name:</label>
			<input type="text" name="name" ng-model="contact.name">
			<label for="Email">Email:</label>
			<input type="text" name="email" ng-model="contact.email">
			<label for="Phone">Phone:</label>
			<input type="text" name="phone" ng-model="contact.phone">
			<input ng-click="addContact()" type="submit" value="Add Contact">
		</form>
		<label for="search">Search</label>
		<input type="text" ng-model="searchText">

		<table>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
			</tr>
			<tr ng-repeat="contact in contacts | filter:searchText">
				<td>{{contact.name}}</td>
				<td>{{contact.email}}</td>
				<td>{{contact.phone}}</td>
			</tr>
		</table>

	</div>
</body>
</html>