<!DOCTYPE html>
<html lang="en" ng-app="firstApp">
<head>
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js"></script>

	<script src="./app.js"></script>
	<script src="./vanilla.js"></script>

	<title>Document</title>
</head>
<body>
	{{1 + 6}}
	<input type="text" placeholder="What is your name" ng-model="name" ng-init="name='BoJack'">
	<h1>My name is: {{name}}</h1>
	
	<input id="vanillaI" type="text" placeholder="What is your name">
	<h1 id="vanillaH"></h1>

	<select name="dropdown" id="" ng-model="choice">
		<option value="Dogs">Dogs</option>
		<option value="Cats">Cats</option>
		<option value="both dogs and cats">Dogs and Cats</option>
		<option value="neither cats nor dogs">Neither</option>
	</select>

	<h3>I <3 {{choice}} </h3>

	<h2>{{3.14159265359 | currency : "€"}}</h2>

	<p>
		<input type="text" placeholder="a yell and a whisper" ng-model="yellowhisper">
		<h2>{{yellowhisper|uppercase}}</h2>
		<h2>{{yellowhisper|lowercase}}</h2>
	</p>

	<p>
		<h2>How many digits of precision for pi would you like?</h2>
		<select name="dropdown" ng-model="digits" id="">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
		</select>
	</p>

	<p>
		<h2>Here you are! 
			<ng-pluralize ng-model="digits" count="digits"
			                when="{'1': 'The first digit of pi',
			                       '2': 'The first two digits of pi',
									'3': 'The first three digits of pi',
									'4': 'The first four digits of pi',
									'5': 'The first five digits of pi',
									'6': 'The first six digits of pi',
									'7': 'The first seven digits of pi',
			                   		}">
			  </ng-pluralize>
		</h2>
	</p>
	<p>
		<h2>{{3.14159265359 | number:digits}}</h2>
	</p>


	<p>
		<h2>Super Useful Tip Calculator</h2>
		<h4>How much does your meal cost?</h4>
		<input type="text" ng-model="price">
		<select name="tips" id="" ng-model="tips">
			<option value="10">10%</option>
			<option value="15">15%</option>
			<option value="20">20%</option>
		</select>
		<h3>Subtotal: {{price}}</h3>
		<h3>Tip: {{price * tips/100}}</h3>
	</p>

	
	<div ng-controller="MyFirstController">
		<h1>My name is: {{name}}</h1>
        <input type="text" placeholder="What is your name">
    </div>

    <div ng-controller="ExercisesController">
    	<h1>My favorite color is: {{favColor}}</h1>
    	<h3>Seconds in a century: {{secondsInACentury | number}}</h3>
    	<h3>The time is: {{rightNow}}</h3>
    </div>
</body>
</html>