.highlight {
        color: green;
    }

.lowlight {
        color: red;
    }

.sale {
	color: orange;
}

.pong {
	width: 400px; 
	height: 300px;
	background-color: blue;
	float: left; 
	margin-left: 10px;
	margin-bottom: 100px;
}

.winner {
	background-color: green;
}

.loser {
	background-color: red;
}